.icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	fill: #1a1a1a;
}
.icon-work {
	fill: #1a1a1a;
}
.icon-twitter {
	fill: #1a1a1a;
}
.icon-tumblr {
	fill: #1a1a1a;
}
.icon-github {
	fill: #1a1a1a;
}
.icon-email {
	fill: #1a1a1a;
}
.icon-dribbble {
	fill: #1a1a1a;
}
.icon-blog {
	fill: #1a1a1a;
}
.icon-behance {
	fill: #1a1a1a;
}
.icon-about {
	fill: #1a1a1a;
}
